.wrapper {
    display: flex;
    flex-direction: row;
    height: 17px;
    justify-content: space-between;
    align-content: center;
}

.text {
    font-family: 'TT Firs Neue';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: right;
    color: #fefefe;
}

.activeText {
    font-family: 'TT Firs Neue';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: right;
    color: #fefefe;
    opacity: 0.5;
}

.leftArrow {
    width: 16px;
    padding-right: 12px;
    display: block;
}

.activeLeftArrow {
    width: 16px;
    margin-right: 12px;
    display: block;
    opacity: 50%;
}

.rightArrow {
    width: 16px;
    padding-right: 12px;
    display: block;
    transform: rotate(180deg);
}

.activeRightArrow {
    width: 16px;
    padding-right: 12px;
    transform: rotate(180deg);
    display: block;
    opacity: 50%;
}
