.wrapper {
    padding: 0 32px;
}

.linksWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img {
    width: 24px;
    height: 24px;
}

.link {
    margin-bottom: 0;
}

@media (max-width: 571px) {
    .wrapper {
        padding: 0 20px;
    }

    .link {
        margin-bottom: 31px;
        margin-right: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .img {
        width: 52px;
        height: 52px;
    }
}

@media (max-width: 383px) {
    .link {
        margin-right: 0;
    }
}
