.contentWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    padding: 4px 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.text {
    color: #060606;
    font-family: TT Firs Neue;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    max-width: 205px;
    text-wrap: wrap;
}

@media (max-width: 571px) {
    .contentWrapper {
        padding-left: 20px;
    }
}
