.logo {
    color: #000000;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    margin-bottom: 35px;
    max-width: 300px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 571px) {
    .logo {
        margin-bottom: 27px;
    }
}
